.feature {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.mesh {
    fill: none;
    stroke: lightgrey;
    stroke-width: 2px;
    stroke-linejoin: round;
}
.arc {
    fill: none;
    stroke: gray;
    stroke-width: 3px;
    stroke-linecap: round;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

circle {
    fill: steelblue;
    fill-opacity: .8;
    stroke: white;
}

.line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

.area {
    fill: red;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}